:root
	--text: #e3e3e3
	--text-secondary: #b9b9b9
	--background: #10100f
	--primary: #084c9a
	--primary-hover: #073c79
	--secondary: #032348
	--accent: #378CE1
	--accent-filter: invert(45%) sepia(74%) saturate(1379%) hue-rotate(189deg) brightness(94%) contrast(86%)
	--font: 'Rubik', sans-serif
	--main-border-radius: 100px
	--secondary-border-radius: 10px
	--max-width: 1600px
	--gray: #ffffff11

	*
		box-sizing: border-box
		margin: 0
		padding: 0
		font-family: var(--font)
		color: var(--text)

		html, body
			background-color: var(--background)
			min-width: 100%
			min-height: 100vh

		main
			display: grid
			grid-template-columns: [full-start] minmax(25px, 1fr) [content-start] minmax(0, var(--max-width)) [content-end] minmax(25px, 1fr) [full-end]
			padding-top: 70px
			min-height: 100vh
			width: 100%
			place-content: center
			background-color: var(--background)

			@media (max-width: 1000px)
				padding-top: 0px 

			& > * 
				grid-column: content

			main[data-state="padded"]
				padding-top: 95px

				@media (max-width: 1000px)
					padding-top: 0px 

			section 
				max-width: var(--max-width)

				@media (min-width: 1428px)
					max-width: var(--max-width)

h1 
	font-size: 2.5rem
	font-weight: 700
	text-align: center