---
import { Image } from "astro:assets";
import FAQ from "@components/FAQ.astro";
import Question from "@components/FAQ-question.astro";

import Layout from '@layouts/Layout.astro';
import Me_Suited from '@public/me-in-suit.png';
import School from '@icons/school.svg';
import Ivy_Tech from '@logos/ivytech.png';
import IU from '@logos/iu.png';
---

<Layout title="About" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp" section_class="flexed">
	<section id="background">
		<div id="background-left">
			<h1 id="background-header">Hello! I'm Nathan Parker,</h1>
			<p class="about-text">An <b>undergraduate</b> at <a class="link" href="https://www.ivytech.edu/about-ivy-tech/">Ivy Tech</a> via my high school's early college program, currently specializing in <i>web, game, and database technologies</i>. And <b>constantly</b> building new technological projects from <i>websites, games, or Minecraft servers</i>.</p>

			<p class="about-text">My <b>love</b> of technology derived in mid-2012 when my father introduced me to game consoles like the <i>Nintendo Entertainment System, GameCube, and the Wii</i>. Then, after a few years, I moved on to Windows 7 laptops and a range of Apple devices around 2015. Always constantly <i>tinkering, improving, creating, <b>or</b> finding vulnerabilities in schools' technological infrastructure</i> 😅.</p>

			<p class="about-text"><i>In 2018</i>, I first found my love of programming by joining my local <a class="link" href="https://scratch.mit.edu/">Scratch</a> club at my local library. I built many small games and enjoyed seeing something come to life just with a few blocks. From then on, I learned more programming via Minecraft server development with <a class="link" href="https://github.com/SkriptLang/Skript">SkriptLang</a> and website development via high school Computer Science courses. Nowadays, I'm learning more advanced programming with <i>Python, JavaScript, and soon-to-be C#</i>.</p>
		</div>
		<div id="background-right">
			<Image src={Me_Suited} id="background-image" alt="Images of Nathan Parker, including: His brothers and himself playing the NES (Super Mario Brothers) back in language_size13, Him in a suit with green foliage behind him, and him playing a game of VTOL VR in a fighter jet" width={500} height={500} loading="eager" />
		</div>
	</section>
	<section id="education">
		<h2 class="about-header">The Pursuit of Education</h2>
		<p class="about-text eighty-width">I'm always looking for ways to learn and retain information for my dream, and currently, I've been doing that from my school's pathway of Software Development. It has allowed me to take college-level classes to further my dream: </p>
		<div id="schools">
			<div class="school">
				<div class="school-header">
					<Image src={School} class="school-logo" alt="General icon/outline of a school building" width={32} height={32} />
					<div class="school-info">
						<h3 class="school-name">Public High School</h3>
						<p class="school-details">2021-23 • General Education Degree • Software Development</p>
					</div>
				</div>
				<p class="school-insight">The pivotal <b>commitment</b> to computational studies enabled me to <i>write <b>and</b> study</i> programming concepts. The classes only <i>contained the basics</i> but hooked and propelled me for success and dedication towards the <b>ever-growing</b> field.</p>
			</div>
			<div class="school">
				<div class="school-header">
					<Image src={Ivy_Tech} class="school-logo" alt="Ivy Tech's Community College Logo" width={32} height={32} />
					<div class="school-info">
						<h3 class="school-name">Ivy Tech Community College</h3>
						<p class="school-details">2023-25 • Certificate • Software Application Development</p>
					</div>
				</div>
				<p class="school-insight">Since my high school doesn't offer classes above <b>Computer Science II</b>, we resort to <b>my savor Ivy Tech</b>. Taking and <b>accelerating</b> computational concepts to the <b><i>professional level</i></b> — whilst gaining more recognition for my work.</p>
			</div>
			<div class="school">
				<div class="school-header">
					<Image src={IU} class="school-logo" alt="Indiana Univeristy's Logo" width={32} height={32} />
					<div class="school-info">
						<h3 class="school-name">Indiana University</h3>
						<p class="school-details">Dream College • Doctorate • Computer Science</p>
					</div>
				</div>
				<p class="school-insight">For my <b>dream school</b>, I would love to go to IU's <i>Luddy School of Informatics, Computing, and Engineering</i> to study <b>Computer Science</b>, to <b><i>excel</i></b> my knowledge base of fundamentals, and build my <b><i>dreams</i></b>.</p>
			</div>
		</div>
	</section>
	<section id="online-life">
		<h2 class="about-header">Frequently Asked Questions</h2>
		<FAQ>
			<Question question="What's this site's purpose?">
				<p slot="answer" class="answer-text">This site's purpose is like my own little GitHub — not meant to be taken seriously. In an ideal world, first would come my resume, then my site to show all my work and passion for what I do. My site is thousands of hours of research, building, testing, and failing to make something, even if it gets no public interaction. I'm not here for views — I'm here to make something.</p>
			</Question>
			<Question question="What is the meaning/origin of 'KingPr0o7?'">
				<p slot="answer" class="answer-text">KingPr0o7, pronounced — / <a href="http://ipa-reader.xyz/?text=k%C9%AA%C5%8Bpro%CA%8A%20o%CA%8A%20%CB%88s%C9%9Bv%C9%99n&voice=Joey" class="link">kɪŋproʊ oʊ ˈsɛvən</a> / was a handle for my Fortnite account back on May 26, 2018, and became my go-to handle for the internet. I wanted it to start with "King," then my father added "Pro" because he thought it would suit and sound pretty nice. The rest was because "KingPro" was taken, so extras were added: birth year and variation to get a unique one. I find it funny when streamers stop for a second to process how to go about its pronunciation and often say "King Pr- Zero Oh Seven," but other than that, my handle has no hidden meaning unless added otherwise.</p>
			</Question>
			<Question question="Who inspires you?">
				<p slot="answer" class="answer-text">Other than the people I see most often, like <i>my teachers and parents</i>, the one person who always seems to <b>inspire</b> me is an <i>online streamer and content creator</i>, <a href="https://twitter.com/t3dotgg" class="link">@Theo</a>. Aside from the common ground of programming, he has, <b><i>time and time again</i></b>, inspired me to keep working hard <b>while</b> showing the vast world I have been trying to get into. He has also <b>built</b> a like-minded community that has sustained to keep me <b>loving</b> what I do. <br><br>Other people that inspire me: <a href="https://twitter.com/ThePrimeagen" class="link">@ThePrimeagen</a>, <a href="https://twitter.com/juxtopposed" class="link">@juxtopposed</a>, <a href="https://twitter.com/MKBHD" class="link">@MKBHD</a>, <a href="https://twitter.com/fireship_dev" class="link">@fireship_dev</a>, and <b>more</b>...</p>
			</Question>
			<Question question="Your writing — why so advanced?">
				<p slot="answer" class="answer-text">My writing is "advanced" because of the countless English papers and classes that I've taken. As thus such, I've developed to write how I would as an English paper, in most cases, even tweeting. I also try to improve my vocabulary whenever I can to further my writing. It's just something I enjoy doing and continue to this day. </p>
			</Question>
		</FAQ>
	</section>
</Layout>
<style>
.about-text {
	font-size: clamp(1rem, 1.5vw, 1.4rem);
	line-height: 2rem;
	text-indent: 2rem;
}

	.eighty-width { width: 80%; }

.about-header { 
	font-size: clamp(1.3rem, 2.8vw, 3rem); 
	width: 80%; 
	text-align: center;
}

#background, #online-life {
	min-width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: fit-content;
	padding: 50px 0;
}

	#online-life { padding: 50px 0 0 0; }
	#background-header { font-size: clamp(1.3rem, 2.8vw, 3rem); }

	/* Description of myself */
	#background-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		width: 50%;
	}

	/* Image of myself */
	#background-right {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

		#background-image {
			width: clamp(250px, 35vw, 500px);
			height: clamp(250px, 35vw, 500px);
			max-height: 500px;
			border-radius: var(--main-border-radius);
			animation: image-change 60s ease-in infinite;
		}
		
#education, #online-life {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	gap: 25px;
}

	#education-text {
		text-indent: 0;
		text-align: center;
		width: 80%;
	}

		#schools {
			display: flex;
			flex-direction: column;
			gap: 25px;
			width: 60%;
		}

			.school {
				display: flex;
				flex-direction: column;
				gap: 12.5px;
				padding: 25px;
				border: 2px solid var(--gray);
				border-radius: var(--secondary-border-radius);
			}
			
				.school-header {
					display: flex;
					align-items: center;
					gap: 25px;
				}
			
					.school-info {
						display: flex;
						flex-direction: column;
						gap: 8.3px;
					}
				
					.school-name {
						display: flex;
						align-items: center;
						gap: 12.5px;
					}
					
				.school-insight { 
					font-size: clamp(1rem, 2vw, 1.2rem); 
					line-height: 1.5rem;
					word-wrap: break-word;
					hyphens: auto;
				}

@media (max-width: 1000px) {
	#background {
		padding: 25px 0 0 0;
		gap: 25px;
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}

		#background-left { min-width: 100%; }
			#background-header { text-align: center; }
			#background-image { border-radius: var(--secondary-border-radius); }

	#education {
		width: 100%;
		padding: 25px 0;
	}
		#education-header { width: 100%; }
		#education-text { width: 100%; }
		#schools { width: 100%; }
}

@media (max-width: 450px) {
	.school-header { flex-direction: column; }
	.school-name, .school-details { 
		text-align: center; 
		justify-content: center; 
	}
	.school-logo { width: 64px; height: 64px;}

}

@keyframes image-change {
	25% { content: url('/super-mario-bros.png'); }
	75% { content: url('/vtol-vr-selfie.png'); }
	100% { content: url('/me-in-suit.png'); }
}
</style>