---
import Layout from "@src/layouts/Layout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
---

<Layout title="Branding" description="A centralized platform of Nathan Parker's (KingPr0o7) branding and design choices." image="branding.png" section_class='branding-section'>
	<div id="branding-section">
		<div id="branding">
			<LottieAnimation src="/data.json" player="light" autoplay="visible" />
			<h1 id="branding-header">Branding</h1>
			<p id="branding-desc">A centralized platform of Nathan Parker's (KingPr0o7) branding and design choices.</p>
		</div>
	</div>
</Layout>