---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import EmailSubmit from '@src/components/Email-submit';
import LinkedIn from '@logos/linkedin.svg';
import Discord from '@logos/discord.svg';
import GitHub from '@logos/github.svg';
import Twitter from '@logos/x.svg';
---

<Layout title="Contact" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp">
	<div id="contact-section">
		<div id="contact-left">
			<h1 id="contact-attention">LET'S TALK</h1>
			<p id="contact-description">I'm always open to new opportunities and collaborations. Feel free to reach out to me!</p>			
			<div id="contact-socials">
				<a class="contact-social" href="https://www.linkedin.com/in/nathanparker07/">
					<Image src={LinkedIn} class="contact-social-logo" alt="LinkedIn's Logo" width={48} height={48} />
					<p class="contact-social-name">@nathanparker07</p>
				</a>
	
				<a class="contact-social" href="https://discord.gg/ksW8rAcU6t">
					<Image src={Discord} class="contact-social-logo" alt="Discord's Logo" width={48} height={48} />
					<p class="contact-social-name">@kingpr0o7</p>
				</a>
	
				<a class="contact-social" href="https://github.com/KingPr0o7">
					<Image src={GitHub} class="contact-social-logo" alt="GitHub's Logo" width={48} height={48} />
					<p class="contact-social-name">@kingpr0o7</p>
				</a>
	
				<a class="contact-social" href="https://twitter.com/KingPr0o7">
					<Image src={Twitter} class="contact-social-logo" alt="Twitter's (X's) Logo" width={48} height={48} />
					<p class="contact-social-name">@kingpr0o7</p>
				</a>
			</div>
		</div>
		<div id="contact-divider"></div>
		<div id="contact-right">
			<form id="contact-form">
				<div class="contact-input">
					<label class="form-label">What's your name? <span class="form-star">*</span></label>
					<input class="form-textfield" id="contact-name" type="text" placeholder="Officer K" name="name" required />
				</div>
	
				<div class="contact-input">
					<label class="form-label">Your current email? <span class="form-star">*</span></label>
					<input class="form-textfield" id="contact-email" type="text" placeholder="KD6-3.7@lapd.gov" name="email" required />
				</div>
	
				<div class="contact-input">
					<label class="form-label">Tell me your thoughts! <span class="form-star">*</span></label>
					<textarea class="form-textarea" id="contact-message" name="input" required placeholder='"And blood-black nothingness began to spin — a system of cells interlinked within, cells interlinked within cells interlinked, within one stem. — And dreadfully distinct, against the dark, a tall white fountain played." - Vladimir Nabokov, Pale Fire qtd. in Blade Runner 2049'></textarea>
				</div>
	
				<EmailSubmit client:idle />
			</form>			
		</div>
	</div>
</Layout>
<style is:inline>
#contact-section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	gap: 25px;
}

	/* Attention Getter + Socials */
	#contact-left {
		width: clamp(300px, 40vw, 650px);
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

		#contact-attention { font-size: clamp(1.3rem, 5vw, 7rem); }

		#contact-description {
			font-size: clamp(1rem, 1.5vw, 1.5rem);
			line-height: clamp(1rem, 2vw, 2.3rem);
		}

		#contact-socials {
			display: grid;
			grid-template-columns: repeat(2, 1fr); 
			gap: 25px
		}
		
			.contact-social {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-self: center;
				gap: 25px;
				width: 300px;
				text-decoration: none;
			}
		
				.contact-social-logo {
					background-color: var(--secondary);
					border-radius: var(--secondary-border-radius);
					outline: 5px solid var(--secondary);
					width: 48px;
					height: 48px;
				}
		
				.contact-social-name { font-size: clamp(0.8rem, 1.7vw, 1.5rem); }

	/* Line only visible on desktop to divide socials from form */
	#contact-divider {
		min-width: 2px;
		height: 600px;
		border-radius: var(--main-border-radius);
		background-color: var(--gray);
		content: "";
	}		

	/* Email Form */
	#contact-right { width: clamp(300px, 40vw, 650px); }

		#contact-form {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			gap: 25px;
			height: 100%;
			min-height: 100%;
			width: 100%;
		}

			.contact-input {
				display: flex;
				flex-direction: column;
				gap: 15px;
			}

				.form-label { font-size: clamp(1rem, 1.5vw, 1.3rem); }

				.form-star {
					color: red;
					font-size: clamp(1rem, 1.5vw, 1.3rem);
				}

				.form-textfield, .form-textfield:focus {
					position: relative;
					height: 50px;
					border-radius: var(--secondary-border-radius);
					outline: 2px solid var(--gray);
					border: none;
					background: none;
					padding: 0 15px;
					font-size: clamp(1rem, 1.5vw, 1.3rem);
				}

					/* When form input is invalid or required */
					.form-textfield:focus:invalid {
						color: red;
						outline: 2px solid red;
					}

				.form-textarea {
					position: relative;
					height: 150px;
					border-radius: var(--secondary-border-radius);
					outline: 2px solid var(--gray);
					width: 100%;
					resize: none;
					border: none;
					background: none;
					padding: 15px 15px;
					font-size: clamp(1rem, 1.5vw, 1.3rem);		
				}

					/* When form textarea is invalid or required */
					.form-textarea:focus:invalid {
						color: red;
						outline: 2px solid red;
					}
				
				.form-submit { width: 100%; }	

/* Sizes down socials because of huge size */
@media (max-width: 1300px) {
	#contact-socials { gap: 25px; }
		.contact-social { width: 275px; }

		.contact-social-logo {
			width: 32px;
			height: 32px;
		}
}

@media (max-width: 1200px) {
	#contact-socials { gap: 30px; }
		.contact-social { width: 200px; }

		.contact-social-logo {
			width: 32px;
			height: 32px;
		}
}

@media (max-width: 1000px) {
	#contact-section {
		justify-content: center;
		flex-direction: column;
		min-height: 100vh;
		gap: 50px;
	}

		#contact-attention { font-size: clamp(1.3rem, 13vw, 5.5rem); }

	#contact-left {
		width: 100%;
		align-items: center;
		text-align: center;
	}

		#contact-description { width: 50%; }

	#contact-divider { display: none; }

	#contact-right { width: 80%; }

		#contact-socials {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}

			.contact-social {
				width: 48px;
				justify-content: center;
			}

			.contact-social-logo {
				width: 48px;
				height: 48px;
			}

			.contact-social-name { display: none; }	
}

/* Other sizing adjustments */
@media (max-width: 600px) {
	#contact-description { width: 100%; }
}

@media (max-width: 500px) {
	#contact-right { width: 100%; }
	.contact-social { width: 32px; }
	.contact-social-logo {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 350px) {
	.contact-social { width: 28px; }
	.contact-social-logo {
		width: 28px;
		height: 28px;
	}
}
</style>
<script is:inline>
	const form = document.getElementById("contact-form");
	const name = document.getElementById("contact-name");
	const email = document.getElementById("contact-email");

	form.addEventListener("submit", (e) => {
		e.preventDefault();
	});

	name.addEventListener("input", () => {
 		let regex = /^[a-zA-Z- ]+$/;
 		if (regex.test(name.value)) {
			name.setCustomValidity('');
 		} else {
			name.setCustomValidity('Name cannot have special characters, numbers, or be empty.');
 		}
 		name.reportValidity();		
	});

	email.addEventListener("input", () => {
 		let regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
 		let domainEmail = /^nathan(\+[a-zA-Z0-9]+)?@ncp\.dev$/;
 		if (regex.test(email.value)) {
 			email.setCustomValidity('');
 		} else {
			email.setCustomValidity('Please enter a valid email address (username@domain.tld).');
 		}

 		if (location.hostname !== "localhost") {
 			if (domainEmail.test(email.value)) {
				email.setCustomValidity('Don\'t use my email address, silly!');
 			}
 		}
		email.reportValidity();	
	});
</script>