---
import Layout from '@layouts/Layout.astro';
import ShowcaseProject from "@src/components/Showcase-project.astro";
---

<Layout title="Projects" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp" data_state="padded">
	<section id="projects">
		<ShowcaseProject video_link="https://www.youtube.com/embed/Ou4IJQcHsRI?si=CbqDt75V0rENLho_&amp;start=923", video_title="Stoichify — The Stoichiometry Solver", project_title="Stoichify", project_desc="A Python-powered GUI application designed to solve stoichiometric equations, by breaking down each step as you would write them on a piece of paper. Stoichify is open-source and aimed at chemistry students and teachers to learn and better their experience with the daunting complexity of stoichiometry." github_link="https://github.com/KingPr0o7/Stoichify" />
		<ShowcaseProject video_link="https://www.youtube-nocookie.com/embed/ugOqfEaemrY?si=kJdhY4JdOxubeQPX&amp;start=746", video_title="The Combo Menu Project", project_title="Combo Menu", project_desc="A chat-styled web application that allows users to make orders to a virtual restaurant. Built with Flask as it was a requirement for the computer science final upon this project was built. Also, incorporating defensive programming to make sure the user's orders will be fulfilled correctly." website_link="https://combo-menu.vercel.app/" github_link="https://github.com/KingPr0o7/Combo-Menu" />
		<ShowcaseProject video_link="https://www.youtube-nocookie.com/embed/ZzyLIPIkzlQ?si=VZ7pOGUoCvS5GOTq", video_title="The Tempest — English Final Project", project_title="The Tempest", project_desc="For a final Q3 project for English class, it's a one-page website targeted for showcasing both our interests and understanding of the play “The Tempest” by William Shakespeare. While also learning and expanding my web development skills for the teacher and my classmates to see, and as such recieved a 100%." website_link="https://tempest-ncp.vercel.app/" github_link="https://github.com/KingPr0o7/Tempest" />
		<ShowcaseProject video_link="https://www.youtube-nocookie.com/embed/7UHBkfcImi8?si=GGBmYba7HmfraYXb", video_title="My First “Portfolio” Website", project_title='First "Portfolio"', project_desc="The first version of this site (ncp.dev) and the first published website I made. It was never “finished” due to the lack of blogs or projects that I had at the time. It has now been replaced and redesigned to better fit my gained experience for the modern day, and is now out-dated and dropped for any further development." website_link="https://old-portfolio-ncp.vercel.app/" github_link="https://github.com/KingPr0o7/KingPr0o7.github.io" />
	</section>
</Layout>
<style>
#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

@media (max-width: 1000px) {
	#projects { padding-top: 25px; }
}

@media (max-width: 500px) {
	#projects { grid-column: full; }
}
</style>
