---
import { Image } from "astro:assets";
import Layout from '@layouts/Layout.astro';
import ShowcaseProject from "@src/components/Showcase-project.astro";
---

<Layout title="Projects" description="Discover Nathan Parker (KingPr0o7)'s passion in his portfolio—cutting-edge projects, blogs, and the story of a developer's creative journey." image="test.webp" data_state="padded">
	<section id="projects">
		<ShowcaseProject video_link="https://www.youtube-nocookie.com/embed/ugOqfEaemrY?si=kJdhY4JdOxubeQPX&amp;start=746", title="The Combo Menu Project" github_link="https://github.com/KingPr0o7/Combo-Menu" />
	</section>
</Layout>
<style is:inline>
#projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 50px;
}

@media (max-width: 1000px) {
	#projects { padding-top: 25px; }
}

@media (max-width: 500px) {
	#projects { grid-column: full; }
}
</style>
