---
interface Props {
	href: string;
	text: string;
}

const { href, text } = Astro.props;

let html = "";
if (Astro.slots.has("default")) {
  html = await Astro.slots.render("default");
  html = html.trim();
}

---
<Fragment set:html={html}>
	<a class="link" href={href} target="_blank">{text}</a>
</Fragment>

<style>
.link, .blog-content a {
	text-decoration-line: underline;
	-webkit-text-decoration-line: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 0.12em;
	color: var(--accent);
	-webkit-text-decoration-color: var(--accent);
}
</style>

