:root {
	--text: #E3E3E3;
	--text-secondary: #B9B9B9; 
	--background: #10100f;
	--primary: #084c9a;
	--primary-hover: #073c79;
	--secondary: #032348;
	--accent: #378CE1;	
	--font: 'Gilroy';
	--main-border-radius: 100px;
	--secondary-border-radius: 10px;
	--max-width: 1600px;
	--gray: #ffffff11;
	--success: #37E167;
	--error: #E13737;
	--warning: #E8ED0A;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	font-display: optional;
}

	*:focus-visible {
		outline: 2px solid white;
		outline-offset: 4px;
	}

		html, body {
			background-color: var(--background); 
			min-width: 100%;
			min-height: 100vh;
		}

			p, h1, h2, h3, h4, h5, h6, a, button, input, textarea, label, span, th, td, li {
				color: var(--text);
			}

.button {
	border: none;
	border-radius: var(--main-border-radius);
	padding: 10px 20px;
	background-color: var(--primary);
	color: var(--text);
	font-size: clamp(1rem, 2vw, 1.2rem);
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
}

	.button:hover { background-color: var(--primary-hover); }

.accent {
	color: var(--accent);
	text-shadow: 0 0 0 var(--accent);
	animation: glow_appear 1s 2.25s ease-in-out forwards;
}

@keyframes glow_appear {
	0% { text-shadow: 0 0 0px var(--accent); }
	100% { text-shadow: 0 0 50px var(--accent); }	
}