/* Rubik 600 - Latin */
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/rubik-v28-latin-regular.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Rubik - Latin */
@font-face {
	font-family: 'Rubik';
	src: url('/fonts/rubik-v28-latin-600.woff2') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--text: #e3e3e3;
	--text-secondary: #b9b9b9; 
	--background: #10100f;
	--primary: #084c9a;
	--primary-hover: #073c79;
	--secondary: #032348;
	--accent: #378CE1;	
	--accent-filter: invert(45%) sepia(74%) saturate(1379%) hue-rotate(189deg) brightness(94%) contrast(86%); 
	--font: 'Rubik', sans-serif;
	--main-border-radius: 100px;
	--secondary-border-radius: 10px;
	--max-width: 1600px;
	--gray: #ffffff11;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font);
	color: var(--text);
}

	*:focus-visible {
		outline: 2px solid white;
		outline-offset: 4px;
	}

		html, body {
			background-color: var(--background); 
			min-width: 100%;
			min-height: 100vh;
		}

.image-component {
	position: relative;
	max-width: 450px;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	border-radius: var(--secondary-border-radius);
}
		
	.image-component[data-type="intro"] { max-width: clamp(250px, 35vw, 650px); }
		
	/* Used to preserve border-radius on image */ 
	.image-component::after { 
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;	
	}

.button {
	border: none;
	border-radius: var(--main-border-radius);
	padding: 10px 20px;
	background-color: var(--primary);
	color: var(--text);
	font-size: clamp(1rem, 2vw, 1.2rem);
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
}

	.button:hover { background-color: var(--primary-hover); }

.accent {
	color: var(--accent);
	text-shadow: 0 0 0 var(--accent);
	animation: glow_appear 1s 2.25s ease-in-out forwards;
}

.link {
	text-decoration-line: underline;
	-webkit-text-decoration-line: underline;
	text-decoration-color: var(--accent);
	text-decoration-thickness: 0.15em;
	-webkit-text-decoration-color: var(--accent);
}

@keyframes glow_appear {
	0% { text-shadow: 0 0 0px var(--accent); }
	100% { text-shadow: 0 0 50px var(--accent); }	
}